* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
}

h1 {
background-color: #6ACCDB;
font-weight: 800;
font-size: 2.45em;
color: rgb(0, 0, 0);
padding-left: 100px;
padding-right:10px
}

ul {

}

header li{
    display: inline;
    list-style: none;
    margin-right: 30px;
}

header a {
font-weight: 600;
font-size: 1.3em;
color: black;
list-style: none;
padding: 5px;
}

header a:hover {
    text-decoration: none;
    color: #6ACCDB;
}

.banner {
    display: flex;
    background-image: url(/assets/images/banner-image.jpg);
    background-size: cover;
    background-position: center;
    height: 10rem;
    justify-content: flex-end;
    align-items: flex-end;

}

.banner h2 {
    display: flex;
    font-weight: 600;
    padding: ;
    background-color: #6ACCDB;
    margin: 30px 30px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 12vh;
}

main section {
display: flex;
justify-content: right;
padding: 10px;
text-align: left;
}

h3 {
width: 10%;
display: inline;
text-align: right;
align-items: top;
padding: 20px;
font-size: 2em;
}

section article {
display: inline;
padding-left: 50px;
border-left: solid black 2px;
width: 90%;
}

article p {
margin-bottom: 25px;
}

#work-cards {
    }

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

.card {
    background-image: url(/assets/images/card-image.jpg);
    background-size: cover;
    height: 100px;
}